.banner p {
  color: black;
  opacity: .7;
  font-size: 20px;
}

.banner h1 {
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  color: white;
}

.banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.banner img .{
  object-fit: cover;
}
